/* -----------------------------------------
   SECTIONS
   /source/scss/colorscheme/sections.scss
----------------------------------------- */
.section-default, .card-default {
    background: whitesmoke;
}

.section-search, .card-search {
    background: #d6d6d6;
}

.section-understated, .card-understated {
    background: #effaf6;
}

.section-overstated, .card-overstated {
    background: #447766;
    color: #ffffff;
}

    .section-overstated a:not(.btn), .card-overstated a:not(.btn) {
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-overstated a:not(.btn):hover, .section-overstated a:not(.btn):focus, .card-overstated a:not(.btn):hover, .card-overstated a:not(.btn):focus {
            color: #effaf6;
            text-decoration: underline;
        }

        .section-overstated a:not(.btn):focus, .card-overstated a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-overstated a:not(.btn), .card-overstated a:not(.btn) {
        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-overstated a:not(.btn):hover, .card-overstated a:not(.btn):hover {
            background-image: linear-gradient(to right, #effaf6 50%, transparent 50%);
            text-decoration: none !important;
        }

    .section-overstated .btn-primary, .card-overstated .btn-primary {
        color: #fff;
        background-color: #447766;
        border-color: #ffffff;
    }

        .section-overstated .btn-primary:hover, .section-overstated .btn-primary:focus, .section-overstated .btn-primary:not(:disabled):not(.disabled):active, .section-overstated .btn-primary:not(:disabled):not(.disabled).active, .section-overstated .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .section-overstated .btn-primary, .card-overstated .btn-primary:hover, .card-overstated .btn-primary:focus, .card-overstated .btn-primary:not(:disabled):not(.disabled):active, .card-overstated .btn-primary:not(:disabled):not(.disabled).active, .card-overstated .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .card-overstated .btn-primary {
            color: #fff;
            background-color: #376053;
            border-color: #ffffff;
        }

        .section-overstated .btn-primary:not(:disabled):not(.disabled):active, .section-overstated .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-overstated .btn-primary, .card-overstated .btn-primary:not(:disabled):not(.disabled):active, .card-overstated .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-overstated .btn-primary {
            background-image: none;
        }

        .section-overstated .btn-primary.disabled, .section-overstated .btn-primary.disabled:hover, .section-overstated .btn-primary.disabled:focus, .section-overstated .btn-primary.disabled:active, .section-overstated .btn-primary.disabled.active, .section-overstated .btn-primary[disabled], .section-overstated .btn-primary[disabled]:hover, .section-overstated .btn-primary[disabled]:focus, .section-overstated .btn-primary[disabled]:active, .section-overstated .btn-primary[disabled].active, fieldset[disabled] .section-overstated .btn-primary, fieldset[disabled] .section-overstated .btn-primary:hover, fieldset[disabled] .section-overstated .btn-primary:focus, fieldset[disabled] .section-overstated .btn-primary:active, fieldset[disabled] .section-overstated .btn-primary.active, .card-overstated .btn-primary.disabled, .card-overstated .btn-primary.disabled:hover, .card-overstated .btn-primary.disabled:focus, .card-overstated .btn-primary.disabled:active, .card-overstated .btn-primary.disabled.active, .card-overstated .btn-primary[disabled], .card-overstated .btn-primary[disabled]:hover, .card-overstated .btn-primary[disabled]:focus, .card-overstated .btn-primary[disabled]:active, .card-overstated .btn-primary[disabled].active, fieldset[disabled] .card-overstated .btn-primary, fieldset[disabled] .card-overstated .btn-primary:hover, fieldset[disabled] .card-overstated .btn-primary:focus, fieldset[disabled] .card-overstated .btn-primary:active, fieldset[disabled] .card-overstated .btn-primary.active {
            background-color: #447766 !important;
            border-color: #ffffff;
        }

        .section-overstated .btn-primary .badge, .card-overstated .btn-primary .badge {
            color: #447766;
            background-color: #fff;
        }

    .section-overstated .btn-standout, .card-overstated .btn-standout {
        color: #fff;
        background-color: #194949;
        border-color: #ffffff;
    }

        .section-overstated .btn-standout:hover, .section-overstated .btn-standout:focus, .section-overstated .btn-standout:not(:disabled):not(.disabled):active, .section-overstated .btn-standout:not(:disabled):not(.disabled).active, .section-overstated .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .section-overstated .btn-standout, .card-overstated .btn-standout:hover, .card-overstated .btn-standout:focus, .card-overstated .btn-standout:not(:disabled):not(.disabled):active, .card-overstated .btn-standout:not(:disabled):not(.disabled).active, .card-overstated .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .card-overstated .btn-standout {
            color: #fff;
            background-color: #102e2e;
            border-color: #ffffff;
        }

        .section-overstated .btn-standout:not(:disabled):not(.disabled):active, .section-overstated .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-overstated .btn-standout, .card-overstated .btn-standout:not(:disabled):not(.disabled):active, .card-overstated .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-overstated .btn-standout {
            background-image: none;
        }

        .section-overstated .btn-standout.disabled, .section-overstated .btn-standout.disabled:hover, .section-overstated .btn-standout.disabled:focus, .section-overstated .btn-standout.disabled:active, .section-overstated .btn-standout.disabled.active, .section-overstated .btn-standout[disabled], .section-overstated .btn-standout[disabled]:hover, .section-overstated .btn-standout[disabled]:focus, .section-overstated .btn-standout[disabled]:active, .section-overstated .btn-standout[disabled].active, fieldset[disabled] .section-overstated .btn-standout, fieldset[disabled] .section-overstated .btn-standout:hover, fieldset[disabled] .section-overstated .btn-standout:focus, fieldset[disabled] .section-overstated .btn-standout:active, fieldset[disabled] .section-overstated .btn-standout.active, .card-overstated .btn-standout.disabled, .card-overstated .btn-standout.disabled:hover, .card-overstated .btn-standout.disabled:focus, .card-overstated .btn-standout.disabled:active, .card-overstated .btn-standout.disabled.active, .card-overstated .btn-standout[disabled], .card-overstated .btn-standout[disabled]:hover, .card-overstated .btn-standout[disabled]:focus, .card-overstated .btn-standout[disabled]:active, .card-overstated .btn-standout[disabled].active, fieldset[disabled] .card-overstated .btn-standout, fieldset[disabled] .card-overstated .btn-standout:hover, fieldset[disabled] .card-overstated .btn-standout:focus, fieldset[disabled] .card-overstated .btn-standout:active, fieldset[disabled] .card-overstated .btn-standout.active {
            background-color: #194949 !important;
            border-color: #ffffff;
        }

        .section-overstated .btn-standout .badge, .card-overstated .btn-standout .badge {
            color: #194949;
            background-color: #fff;
        }

.section-standout, .card-standout {
    background: #194949;
    color: #ffffff;
}

    .section-standout a:not(.btn), .card-standout a:not(.btn) {
        color: #a1cca1;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-standout a:not(.btn):hover, .section-standout a:not(.btn):focus, .card-standout a:not(.btn):hover, .card-standout a:not(.btn):focus {
            color: #a5d8c7;
            text-decoration: underline;
        }

        .section-standout a:not(.btn):focus, .card-standout a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-standout a:not(.btn), .card-standout a:not(.btn) {
        background-image: linear-gradient(to right, #a1cca1 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-standout a:not(.btn):hover, .card-standout a:not(.btn):hover {
            background-image: linear-gradient(to right, #a5d8c7 50%, transparent 50%);
            text-decoration: none !important;
        }

    .section-standout .half-gauge-chart .donut-background, .card-standout .half-gauge-chart .donut-background {
        fill: #d6d6d6;
    }

    .section-standout .half-gauge-chart .donut-halfmark, .card-standout .half-gauge-chart .donut-halfmark {
        stroke: whitesmoke;
    }

    .section-standout .btn-primary, .card-standout .btn-primary {
        color: #fff;
        background-color: #447766;
        border-color: #ffffff;
    }

        .section-standout .btn-primary:hover, .section-standout .btn-primary:focus, .section-standout .btn-primary:not(:disabled):not(.disabled):active, .section-standout .btn-primary:not(:disabled):not(.disabled).active, .section-standout .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .section-standout .btn-primary, .card-standout .btn-primary:hover, .card-standout .btn-primary:focus, .card-standout .btn-primary:not(:disabled):not(.disabled):active, .card-standout .btn-primary:not(:disabled):not(.disabled).active, .card-standout .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .card-standout .btn-primary {
            color: #fff;
            background-color: #376053;
            border-color: #ffffff;
        }

        .section-standout .btn-primary:not(:disabled):not(.disabled):active, .section-standout .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-standout .btn-primary, .card-standout .btn-primary:not(:disabled):not(.disabled):active, .card-standout .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-standout .btn-primary {
            background-image: none;
        }

        .section-standout .btn-primary.disabled, .section-standout .btn-primary.disabled:hover, .section-standout .btn-primary.disabled:focus, .section-standout .btn-primary.disabled:active, .section-standout .btn-primary.disabled.active, .section-standout .btn-primary[disabled], .section-standout .btn-primary[disabled]:hover, .section-standout .btn-primary[disabled]:focus, .section-standout .btn-primary[disabled]:active, .section-standout .btn-primary[disabled].active, fieldset[disabled] .section-standout .btn-primary, fieldset[disabled] .section-standout .btn-primary:hover, fieldset[disabled] .section-standout .btn-primary:focus, fieldset[disabled] .section-standout .btn-primary:active, fieldset[disabled] .section-standout .btn-primary.active, .card-standout .btn-primary.disabled, .card-standout .btn-primary.disabled:hover, .card-standout .btn-primary.disabled:focus, .card-standout .btn-primary.disabled:active, .card-standout .btn-primary.disabled.active, .card-standout .btn-primary[disabled], .card-standout .btn-primary[disabled]:hover, .card-standout .btn-primary[disabled]:focus, .card-standout .btn-primary[disabled]:active, .card-standout .btn-primary[disabled].active, fieldset[disabled] .card-standout .btn-primary, fieldset[disabled] .card-standout .btn-primary:hover, fieldset[disabled] .card-standout .btn-primary:focus, fieldset[disabled] .card-standout .btn-primary:active, fieldset[disabled] .card-standout .btn-primary.active {
            background-color: #447766 !important;
            border-color: #ffffff;
        }

        .section-standout .btn-primary .badge, .card-standout .btn-primary .badge {
            color: #447766;
            background-color: #fff;
        }

    .section-standout .btn-standout, .card-standout .btn-standout {
        color: #fff;
        background-color: #194949;
        border-color: #ffffff;
    }

        .section-standout .btn-standout:hover, .section-standout .btn-standout:focus, .section-standout .btn-standout:not(:disabled):not(.disabled):active, .section-standout .btn-standout:not(:disabled):not(.disabled).active, .section-standout .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .section-standout .btn-standout, .card-standout .btn-standout:hover, .card-standout .btn-standout:focus, .card-standout .btn-standout:not(:disabled):not(.disabled):active, .card-standout .btn-standout:not(:disabled):not(.disabled).active, .card-standout .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .card-standout .btn-standout {
            color: #fff;
            background-color: #102e2e;
            border-color: #ffffff;
        }

        .section-standout .btn-standout:not(:disabled):not(.disabled):active, .section-standout .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-standout .btn-standout, .card-standout .btn-standout:not(:disabled):not(.disabled):active, .card-standout .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-standout .btn-standout {
            background-image: none;
        }

        .section-standout .btn-standout.disabled, .section-standout .btn-standout.disabled:hover, .section-standout .btn-standout.disabled:focus, .section-standout .btn-standout.disabled:active, .section-standout .btn-standout.disabled.active, .section-standout .btn-standout[disabled], .section-standout .btn-standout[disabled]:hover, .section-standout .btn-standout[disabled]:focus, .section-standout .btn-standout[disabled]:active, .section-standout .btn-standout[disabled].active, fieldset[disabled] .section-standout .btn-standout, fieldset[disabled] .section-standout .btn-standout:hover, fieldset[disabled] .section-standout .btn-standout:focus, fieldset[disabled] .section-standout .btn-standout:active, fieldset[disabled] .section-standout .btn-standout.active, .card-standout .btn-standout.disabled, .card-standout .btn-standout.disabled:hover, .card-standout .btn-standout.disabled:focus, .card-standout .btn-standout.disabled:active, .card-standout .btn-standout.disabled.active, .card-standout .btn-standout[disabled], .card-standout .btn-standout[disabled]:hover, .card-standout .btn-standout[disabled]:focus, .card-standout .btn-standout[disabled]:active, .card-standout .btn-standout[disabled].active, fieldset[disabled] .card-standout .btn-standout, fieldset[disabled] .card-standout .btn-standout:hover, fieldset[disabled] .card-standout .btn-standout:focus, fieldset[disabled] .card-standout .btn-standout:active, fieldset[disabled] .card-standout .btn-standout.active {
            background-color: #194949 !important;
            border-color: #ffffff;
        }

        .section-standout .btn-standout .badge, .card-standout .btn-standout .badge {
            color: #194949;
            background-color: #fff;
        }

    .section-standout code, .card-standout code {
        color: #fff;
    }

.section-impact, .card-impact {
    background: #194949;
    color: #ffffff;
}

    .section-impact a:not(.btn), .card-impact a:not(.btn) {
        color: #a1cca1;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-impact a:not(.btn):hover, .section-impact a:not(.btn):focus, .card-impact a:not(.btn):hover, .card-impact a:not(.btn):focus {
            color: #a5d8c7;
            text-decoration: underline;
        }

        .section-impact a:not(.btn):focus, .card-impact a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-impact a:not(.btn), .card-impact a:not(.btn) {
        background-image: linear-gradient(to right, #a1cca1 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-impact a:not(.btn):hover, .card-impact a:not(.btn):hover {
            background-image: linear-gradient(to right, #a5d8c7 50%, transparent 50%);
            text-decoration: none !important;
        }

    .section-impact .half-gauge-chart .donut-background, .card-impact .half-gauge-chart .donut-background {
        fill: #d6d6d6;
    }

    .section-impact .half-gauge-chart .donut-halfmark, .card-impact .half-gauge-chart .donut-halfmark {
        stroke: whitesmoke;
    }

    .section-impact .btn-primary, .card-impact .btn-primary {
        color: #fff;
        background-color: #447766;
        border-color: #ffffff;
    }

        .section-impact .btn-primary:hover, .section-impact .btn-primary:focus, .section-impact .btn-primary:not(:disabled):not(.disabled):active, .section-impact .btn-primary:not(:disabled):not(.disabled).active, .section-impact .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .section-impact .btn-primary, .card-impact .btn-primary:hover, .card-impact .btn-primary:focus, .card-impact .btn-primary:not(:disabled):not(.disabled):active, .card-impact .btn-primary:not(:disabled):not(.disabled).active, .card-impact .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .card-impact .btn-primary {
            color: #fff;
            background-color: #376053;
            border-color: #ffffff;
        }

        .section-impact .btn-primary:not(:disabled):not(.disabled):active, .section-impact .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-impact .btn-primary, .card-impact .btn-primary:not(:disabled):not(.disabled):active, .card-impact .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-impact .btn-primary {
            background-image: none;
        }

        .section-impact .btn-primary.disabled, .section-impact .btn-primary.disabled:hover, .section-impact .btn-primary.disabled:focus, .section-impact .btn-primary.disabled:active, .section-impact .btn-primary.disabled.active, .section-impact .btn-primary[disabled], .section-impact .btn-primary[disabled]:hover, .section-impact .btn-primary[disabled]:focus, .section-impact .btn-primary[disabled]:active, .section-impact .btn-primary[disabled].active, fieldset[disabled] .section-impact .btn-primary, fieldset[disabled] .section-impact .btn-primary:hover, fieldset[disabled] .section-impact .btn-primary:focus, fieldset[disabled] .section-impact .btn-primary:active, fieldset[disabled] .section-impact .btn-primary.active, .card-impact .btn-primary.disabled, .card-impact .btn-primary.disabled:hover, .card-impact .btn-primary.disabled:focus, .card-impact .btn-primary.disabled:active, .card-impact .btn-primary.disabled.active, .card-impact .btn-primary[disabled], .card-impact .btn-primary[disabled]:hover, .card-impact .btn-primary[disabled]:focus, .card-impact .btn-primary[disabled]:active, .card-impact .btn-primary[disabled].active, fieldset[disabled] .card-impact .btn-primary, fieldset[disabled] .card-impact .btn-primary:hover, fieldset[disabled] .card-impact .btn-primary:focus, fieldset[disabled] .card-impact .btn-primary:active, fieldset[disabled] .card-impact .btn-primary.active {
            background-color: #447766 !important;
            border-color: #ffffff;
        }

        .section-impact .btn-primary .badge, .card-impact .btn-primary .badge {
            color: #447766;
            background-color: #fff;
        }

    .section-impact .btn-standout, .card-impact .btn-standout {
        color: #fff;
        background-color: #194949;
        border-color: #ffffff;
    }

        .section-impact .btn-standout:hover, .section-impact .btn-standout:focus, .section-impact .btn-standout:not(:disabled):not(.disabled):active, .section-impact .btn-standout:not(:disabled):not(.disabled).active, .section-impact .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .section-impact .btn-standout, .card-impact .btn-standout:hover, .card-impact .btn-standout:focus, .card-impact .btn-standout:not(:disabled):not(.disabled):active, .card-impact .btn-standout:not(:disabled):not(.disabled).active, .card-impact .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .card-impact .btn-standout {
            color: #fff;
            background-color: #102e2e;
            border-color: #ffffff;
        }

        .section-impact .btn-standout:not(:disabled):not(.disabled):active, .section-impact .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-impact .btn-standout, .card-impact .btn-standout:not(:disabled):not(.disabled):active, .card-impact .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-impact .btn-standout {
            background-image: none;
        }

        .section-impact .btn-standout.disabled, .section-impact .btn-standout.disabled:hover, .section-impact .btn-standout.disabled:focus, .section-impact .btn-standout.disabled:active, .section-impact .btn-standout.disabled.active, .section-impact .btn-standout[disabled], .section-impact .btn-standout[disabled]:hover, .section-impact .btn-standout[disabled]:focus, .section-impact .btn-standout[disabled]:active, .section-impact .btn-standout[disabled].active, fieldset[disabled] .section-impact .btn-standout, fieldset[disabled] .section-impact .btn-standout:hover, fieldset[disabled] .section-impact .btn-standout:focus, fieldset[disabled] .section-impact .btn-standout:active, fieldset[disabled] .section-impact .btn-standout.active, .card-impact .btn-standout.disabled, .card-impact .btn-standout.disabled:hover, .card-impact .btn-standout.disabled:focus, .card-impact .btn-standout.disabled:active, .card-impact .btn-standout.disabled.active, .card-impact .btn-standout[disabled], .card-impact .btn-standout[disabled]:hover, .card-impact .btn-standout[disabled]:focus, .card-impact .btn-standout[disabled]:active, .card-impact .btn-standout[disabled].active, fieldset[disabled] .card-impact .btn-standout, fieldset[disabled] .card-impact .btn-standout:hover, fieldset[disabled] .card-impact .btn-standout:focus, fieldset[disabled] .card-impact .btn-standout:active, fieldset[disabled] .card-impact .btn-standout.active {
            background-color: #194949 !important;
            border-color: #ffffff;
        }

        .section-impact .btn-standout .badge, .card-impact .btn-standout .badge {
            color: #194949;
            background-color: #fff;
        }

    .section-impact .btn-default, .card-impact .btn-default {
        color: #fff;
        background-color: transparent;
        border-color: #daefe8;
        margin-bottom: 11.5px;
    }

        .section-impact .btn-default:hover, .section-impact .btn-default:focus, .section-impact .btn-default:not(:disabled):not(.disabled):active, .section-impact .btn-default:not(:disabled):not(.disabled).active, .section-impact .btn-default .show > .dropdown-toggle, .open > .dropdown-toggle .section-impact .btn-default, .card-impact .btn-default:hover, .card-impact .btn-default:focus, .card-impact .btn-default:not(:disabled):not(.disabled):active, .card-impact .btn-default:not(:disabled):not(.disabled).active, .card-impact .btn-default .show > .dropdown-toggle, .open > .dropdown-toggle .card-impact .btn-default {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
            border-color: #fff;
        }

        .section-impact .btn-default:not(:disabled):not(.disabled):active, .section-impact .btn-default:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-impact .btn-default, .card-impact .btn-default:not(:disabled):not(.disabled):active, .card-impact .btn-default:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-impact .btn-default {
            background-image: none;
        }

        .section-impact .btn-default.disabled, .section-impact .btn-default.disabled:hover, .section-impact .btn-default.disabled:focus, .section-impact .btn-default.disabled:active, .section-impact .btn-default.disabled.active, .section-impact .btn-default[disabled], .section-impact .btn-default[disabled]:hover, .section-impact .btn-default[disabled]:focus, .section-impact .btn-default[disabled]:active, .section-impact .btn-default[disabled].active, fieldset[disabled] .section-impact .btn-default, fieldset[disabled] .section-impact .btn-default:hover, fieldset[disabled] .section-impact .btn-default:focus, fieldset[disabled] .section-impact .btn-default:active, fieldset[disabled] .section-impact .btn-default.active, .card-impact .btn-default.disabled, .card-impact .btn-default.disabled:hover, .card-impact .btn-default.disabled:focus, .card-impact .btn-default.disabled:active, .card-impact .btn-default.disabled.active, .card-impact .btn-default[disabled], .card-impact .btn-default[disabled]:hover, .card-impact .btn-default[disabled]:focus, .card-impact .btn-default[disabled]:active, .card-impact .btn-default[disabled].active, fieldset[disabled] .card-impact .btn-default, fieldset[disabled] .card-impact .btn-default:hover, fieldset[disabled] .card-impact .btn-default:focus, fieldset[disabled] .card-impact .btn-default:active, fieldset[disabled] .card-impact .btn-default.active {
            background-color: transparent !important;
            border-color: #daefe8;
        }

        .section-impact .btn-default .badge, .card-impact .btn-default .badge {
            color: transparent;
            background-color: #fff;
        }

        .section-impact .btn-default [class^="ca-gov-icon-"], .card-impact .btn-default [class^="ca-gov-icon-"] {
            color: #daefe8;
            padding: 0 5px;
        }

.section-primary, .card-primary {
    background: #447766;
    color: #ffffff;
}

    .section-primary a:not(.btn), .card-primary a:not(.btn) {
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-primary a:not(.btn):hover, .section-primary a:not(.btn):focus, .card-primary a:not(.btn):hover, .card-primary a:not(.btn):focus {
            color: #effaf6;
            text-decoration: underline;
        }

        .section-primary a:not(.btn):focus, .card-primary a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-primary a:not(.btn), .card-primary a:not(.btn) {
        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-primary a:not(.btn):hover, .card-primary a:not(.btn):hover {
            background-image: linear-gradient(to right, #effaf6 50%, transparent 50%);
            text-decoration: none !important;
        }

    .section-primary .btn-primary, .card-primary .btn-primary {
        color: #fff;
        background-color: #447766;
        border-color: #ffffff;
    }

        .section-primary .btn-primary:hover, .section-primary .btn-primary:focus, .section-primary .btn-primary:not(:disabled):not(.disabled):active, .section-primary .btn-primary:not(:disabled):not(.disabled).active, .section-primary .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .section-primary .btn-primary, .card-primary .btn-primary:hover, .card-primary .btn-primary:focus, .card-primary .btn-primary:not(:disabled):not(.disabled):active, .card-primary .btn-primary:not(:disabled):not(.disabled).active, .card-primary .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .card-primary .btn-primary {
            color: #fff;
            background-color: #376053;
            border-color: #ffffff;
        }

        .section-primary .btn-primary:not(:disabled):not(.disabled):active, .section-primary .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-primary .btn-primary, .card-primary .btn-primary:not(:disabled):not(.disabled):active, .card-primary .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-primary .btn-primary {
            background-image: none;
        }

        .section-primary .btn-primary.disabled, .section-primary .btn-primary.disabled:hover, .section-primary .btn-primary.disabled:focus, .section-primary .btn-primary.disabled:active, .section-primary .btn-primary.disabled.active, .section-primary .btn-primary[disabled], .section-primary .btn-primary[disabled]:hover, .section-primary .btn-primary[disabled]:focus, .section-primary .btn-primary[disabled]:active, .section-primary .btn-primary[disabled].active, fieldset[disabled] .section-primary .btn-primary, fieldset[disabled] .section-primary .btn-primary:hover, fieldset[disabled] .section-primary .btn-primary:focus, fieldset[disabled] .section-primary .btn-primary:active, fieldset[disabled] .section-primary .btn-primary.active, .card-primary .btn-primary.disabled, .card-primary .btn-primary.disabled:hover, .card-primary .btn-primary.disabled:focus, .card-primary .btn-primary.disabled:active, .card-primary .btn-primary.disabled.active, .card-primary .btn-primary[disabled], .card-primary .btn-primary[disabled]:hover, .card-primary .btn-primary[disabled]:focus, .card-primary .btn-primary[disabled]:active, .card-primary .btn-primary[disabled].active, fieldset[disabled] .card-primary .btn-primary, fieldset[disabled] .card-primary .btn-primary:hover, fieldset[disabled] .card-primary .btn-primary:focus, fieldset[disabled] .card-primary .btn-primary:active, fieldset[disabled] .card-primary .btn-primary.active {
            background-color: #447766 !important;
            border-color: #ffffff;
        }

        .section-primary .btn-primary .badge, .card-primary .btn-primary .badge {
            color: #447766;
            background-color: #fff;
        }

    .section-primary .btn-standout, .card-primary .btn-standout {
        color: #fff;
        background-color: #194949;
        border-color: #ffffff;
    }

        .section-primary .btn-standout:hover, .section-primary .btn-standout:focus, .section-primary .btn-standout:not(:disabled):not(.disabled):active, .section-primary .btn-standout:not(:disabled):not(.disabled).active, .section-primary .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .section-primary .btn-standout, .card-primary .btn-standout:hover, .card-primary .btn-standout:focus, .card-primary .btn-standout:not(:disabled):not(.disabled):active, .card-primary .btn-standout:not(:disabled):not(.disabled).active, .card-primary .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .card-primary .btn-standout {
            color: #fff;
            background-color: #102e2e;
            border-color: #ffffff;
        }

        .section-primary .btn-standout:not(:disabled):not(.disabled):active, .section-primary .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-primary .btn-standout, .card-primary .btn-standout:not(:disabled):not(.disabled):active, .card-primary .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-primary .btn-standout {
            background-image: none;
        }

        .section-primary .btn-standout.disabled, .section-primary .btn-standout.disabled:hover, .section-primary .btn-standout.disabled:focus, .section-primary .btn-standout.disabled:active, .section-primary .btn-standout.disabled.active, .section-primary .btn-standout[disabled], .section-primary .btn-standout[disabled]:hover, .section-primary .btn-standout[disabled]:focus, .section-primary .btn-standout[disabled]:active, .section-primary .btn-standout[disabled].active, fieldset[disabled] .section-primary .btn-standout, fieldset[disabled] .section-primary .btn-standout:hover, fieldset[disabled] .section-primary .btn-standout:focus, fieldset[disabled] .section-primary .btn-standout:active, fieldset[disabled] .section-primary .btn-standout.active, .card-primary .btn-standout.disabled, .card-primary .btn-standout.disabled:hover, .card-primary .btn-standout.disabled:focus, .card-primary .btn-standout.disabled:active, .card-primary .btn-standout.disabled.active, .card-primary .btn-standout[disabled], .card-primary .btn-standout[disabled]:hover, .card-primary .btn-standout[disabled]:focus, .card-primary .btn-standout[disabled]:active, .card-primary .btn-standout[disabled].active, fieldset[disabled] .card-primary .btn-standout, fieldset[disabled] .card-primary .btn-standout:hover, fieldset[disabled] .card-primary .btn-standout:focus, fieldset[disabled] .card-primary .btn-standout:active, fieldset[disabled] .card-primary .btn-standout.active {
            background-color: #194949 !important;
            border-color: #ffffff;
        }

        .section-primary .btn-standout .badge, .card-primary .btn-standout .badge {
            color: #194949;
            background-color: #fff;
        }

.section-inverted, .card-inverted {
    background: #222222;
    color: #fff;
}

    .section-inverted a:not(.btn), .card-inverted a:not(.btn) {
        color: #a1cca1;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-inverted a:not(.btn):hover, .section-inverted a:not(.btn):focus, .card-inverted a:not(.btn):hover, .card-inverted a:not(.btn):focus {
            color: #8abf8a;
            text-decoration: underline;
        }

        .section-inverted a:not(.btn):focus, .card-inverted a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-inverted a:not(.btn), .card-inverted a:not(.btn) {
        background-image: linear-gradient(to right, #a1cca1 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-inverted a:not(.btn):hover, .card-inverted a:not(.btn):hover {
            background-image: linear-gradient(to right, #8abf8a 50%, transparent 50%);
            text-decoration: none !important;
        }

    .section-inverted .btn-primary, .card-inverted .btn-primary {
        color: #fff;
        background-color: #447766;
        border-color: #ffffff;
    }

        .section-inverted .btn-primary:hover, .section-inverted .btn-primary:focus, .section-inverted .btn-primary:not(:disabled):not(.disabled):active, .section-inverted .btn-primary:not(:disabled):not(.disabled).active, .section-inverted .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .section-inverted .btn-primary, .card-inverted .btn-primary:hover, .card-inverted .btn-primary:focus, .card-inverted .btn-primary:not(:disabled):not(.disabled):active, .card-inverted .btn-primary:not(:disabled):not(.disabled).active, .card-inverted .btn-primary .show > .dropdown-toggle, .open > .dropdown-toggle .card-inverted .btn-primary {
            color: #fff;
            background-color: #376053;
            border-color: #ffffff;
        }

        .section-inverted .btn-primary:not(:disabled):not(.disabled):active, .section-inverted .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-inverted .btn-primary, .card-inverted .btn-primary:not(:disabled):not(.disabled):active, .card-inverted .btn-primary:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-inverted .btn-primary {
            background-image: none;
        }

        .section-inverted .btn-primary.disabled, .section-inverted .btn-primary.disabled:hover, .section-inverted .btn-primary.disabled:focus, .section-inverted .btn-primary.disabled:active, .section-inverted .btn-primary.disabled.active, .section-inverted .btn-primary[disabled], .section-inverted .btn-primary[disabled]:hover, .section-inverted .btn-primary[disabled]:focus, .section-inverted .btn-primary[disabled]:active, .section-inverted .btn-primary[disabled].active, fieldset[disabled] .section-inverted .btn-primary, fieldset[disabled] .section-inverted .btn-primary:hover, fieldset[disabled] .section-inverted .btn-primary:focus, fieldset[disabled] .section-inverted .btn-primary:active, fieldset[disabled] .section-inverted .btn-primary.active, .card-inverted .btn-primary.disabled, .card-inverted .btn-primary.disabled:hover, .card-inverted .btn-primary.disabled:focus, .card-inverted .btn-primary.disabled:active, .card-inverted .btn-primary.disabled.active, .card-inverted .btn-primary[disabled], .card-inverted .btn-primary[disabled]:hover, .card-inverted .btn-primary[disabled]:focus, .card-inverted .btn-primary[disabled]:active, .card-inverted .btn-primary[disabled].active, fieldset[disabled] .card-inverted .btn-primary, fieldset[disabled] .card-inverted .btn-primary:hover, fieldset[disabled] .card-inverted .btn-primary:focus, fieldset[disabled] .card-inverted .btn-primary:active, fieldset[disabled] .card-inverted .btn-primary.active {
            background-color: #447766 !important;
            border-color: #ffffff;
        }

        .section-inverted .btn-primary .badge, .card-inverted .btn-primary .badge {
            color: #447766;
            background-color: #fff;
        }

    .section-inverted .btn-standout, .card-inverted .btn-standout {
        color: #fff;
        background-color: #194949;
        border-color: #ffffff;
    }

        .section-inverted .btn-standout:hover, .section-inverted .btn-standout:focus, .section-inverted .btn-standout:not(:disabled):not(.disabled):active, .section-inverted .btn-standout:not(:disabled):not(.disabled).active, .section-inverted .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .section-inverted .btn-standout, .card-inverted .btn-standout:hover, .card-inverted .btn-standout:focus, .card-inverted .btn-standout:not(:disabled):not(.disabled):active, .card-inverted .btn-standout:not(:disabled):not(.disabled).active, .card-inverted .btn-standout .show > .dropdown-toggle, .open > .dropdown-toggle .card-inverted .btn-standout {
            color: #fff;
            background-color: #102e2e;
            border-color: #ffffff;
        }

        .section-inverted .btn-standout:not(:disabled):not(.disabled):active, .section-inverted .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .section-inverted .btn-standout, .card-inverted .btn-standout:not(:disabled):not(.disabled):active, .card-inverted .btn-standout:not(:disabled):not(.disabled).active, .open > .dropdown-toggle .card-inverted .btn-standout {
            background-image: none;
        }

        .section-inverted .btn-standout.disabled, .section-inverted .btn-standout.disabled:hover, .section-inverted .btn-standout.disabled:focus, .section-inverted .btn-standout.disabled:active, .section-inverted .btn-standout.disabled.active, .section-inverted .btn-standout[disabled], .section-inverted .btn-standout[disabled]:hover, .section-inverted .btn-standout[disabled]:focus, .section-inverted .btn-standout[disabled]:active, .section-inverted .btn-standout[disabled].active, fieldset[disabled] .section-inverted .btn-standout, fieldset[disabled] .section-inverted .btn-standout:hover, fieldset[disabled] .section-inverted .btn-standout:focus, fieldset[disabled] .section-inverted .btn-standout:active, fieldset[disabled] .section-inverted .btn-standout.active, .card-inverted .btn-standout.disabled, .card-inverted .btn-standout.disabled:hover, .card-inverted .btn-standout.disabled:focus, .card-inverted .btn-standout.disabled:active, .card-inverted .btn-standout.disabled.active, .card-inverted .btn-standout[disabled], .card-inverted .btn-standout[disabled]:hover, .card-inverted .btn-standout[disabled]:focus, .card-inverted .btn-standout[disabled]:active, .card-inverted .btn-standout[disabled].active, fieldset[disabled] .card-inverted .btn-standout, fieldset[disabled] .card-inverted .btn-standout:hover, fieldset[disabled] .card-inverted .btn-standout:focus, fieldset[disabled] .card-inverted .btn-standout:active, fieldset[disabled] .card-inverted .btn-standout.active {
            background-color: #194949 !important;
            border-color: #ffffff;
        }

        .section-inverted .btn-standout .badge, .card-inverted .btn-standout .badge {
            color: #194949;
            background-color: #fff;
        }

.section-danger, .card-danger {
    background: #D24532;
    color: #000000;
}

    .section-danger a:not(.btn), .card-danger a:not(.btn) {
        color: #000;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .section-danger a:not(.btn):hover, .section-danger a:not(.btn):focus, .card-danger a:not(.btn):hover, .card-danger a:not(.btn):focus {
            color: #000;
            text-decoration: underline;
        }

        .section-danger a:not(.btn):focus, .card-danger a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .section-danger a:not(.btn), .card-danger a:not(.btn) {
        background-image: linear-gradient(to right, #000 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .section-danger a:not(.btn):hover, .card-danger a:not(.btn):hover {
            background-image: linear-gradient(to right, #000 50%, transparent 50%);
            text-decoration: none !important;
        }

.bg-highlight {
    color: #000;
}

    .bg-highlight a:not(.btn) {
        color: #333333;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .bg-highlight a:not(.btn):hover, .bg-highlight a:not(.btn):focus {
            color: #000;
            text-decoration: underline;
        }

        .bg-highlight a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .bg-highlight a:not(.btn) {
        background-image: linear-gradient(to right, #333333 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .bg-highlight a:not(.btn):hover {
            background-image: linear-gradient(to right, #000 50%, transparent 50%);
            text-decoration: none !important;
        }

.bg-primary {
    color: #fff;
}

    .bg-primary a:not(.btn) {
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .bg-primary a:not(.btn):hover, .bg-primary a:not(.btn):focus {
            color: #effaf6;
            text-decoration: underline;
        }

        .bg-primary a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .bg-primary a:not(.btn) {
        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .bg-primary a:not(.btn):hover {
            background-image: linear-gradient(to right, #effaf6 50%, transparent 50%);
            text-decoration: none !important;
        }

.bg-standout {
    color: #fff;
}

    .bg-standout a:not(.btn) {
        color: #a1cca1;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }

        .bg-standout a:not(.btn):hover, .bg-standout a:not(.btn):focus {
            color: #a5d8c7;
            text-decoration: underline;
        }

        .bg-standout a:not(.btn):focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    .bg-standout a:not(.btn) {
        background-image: linear-gradient(to right, #a1cca1 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

        .bg-standout a:not(.btn):hover {
            background-image: linear-gradient(to right, #a5d8c7 50%, transparent 50%);
            text-decoration: none !important;
        }

a.text-white:not(.btn) {
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 2px 1px;
    background-position: center bottom 4%;
    background-origin: padding-box;
    text-decoration: none !important;
}

    a.text-white:not(.btn):hover {
        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 2px 1px;
        background-position: center bottom 4%;
        background-origin: padding-box;
        text-decoration: none !important;
    }

.footer-section {
    background-image: url(../../image/theme/footer-bottom-sierra.png) !important;
}

.light_color {
    color: #a1cca1;
}

.dark_color, ul#nav li a, .custom_site_map a, .text_color {
    color: #447766;
}

.light_bgcolor {
    background-color: #a1cca1 !important;
}

.dark_bgcolor  , .resp-tab-active {
    background: #447766 !important;
}

.utility-header, .bg_Curent_theme {
    background: #447766;
    color: #ffffff;
}

/* Color Css */
.nav-wrapper ul li:hover a, .nav-wrapper ul li.hover a, .nav-wrapper ul li.active a {
    color: #447766 !important;
    border-left: 4px solid #447766;
    font-weight:500 !important;
}

.nav-wrapper ul ul li.active a, 
.nav-wrapper ul ul li.hover a, 
.nav-wrapper ul ul li a:hover {
    background: #447766;
}

.nav-wrapper ul li ul li:hover a,
.nav-wrapper ul li ul li.hover a,
.nav-wrapper ul li ul li.active a {
    background-color: #447766;
    color: #fff !important;
    border-left: 4px solid #447766;
}

.block_Content h5.active, .block_Content h5.heading_top:hover {
    background: #447766 !important;
}

.block_Content h5.heading_top {
    background: #a1cca1;
    color:#333;
}